.page-tab-header {
    box-shadow: 0 0px 20px #000;
}

.page-tab-title {
    padding-top: 10px;
    padding-left: 75px;
    text-align: left;
    font-size: 35px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.page-tab-title-icon>svg {
    margin-top: -10px;
}

.page-tab {
    padding: 20px;
}

.edit-mode-bg {
    background-color: var(--sidebar-bg)
}

.clear-input {
    outline: none;
    border: none;
    background-color: transparent;
}

.clear-link {
    color: var(--main-color);
}

.clear-link:hover {
    color: var(--sidebar-bg);
}

.number-input-container {
    border: solid 1px var(--main-color);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 40px;
    background-color: var(--search-box-bg);
}

.number-input {
    width: 50px;
    color: var(--main-color);
    margin-right: 7px;
}

.hover-black:hover {
    color: black;
}

.number-input-container:hover,
.number-input-container:focus-within {
    background-color: var(--search-icon-hover-bg);
    transition: 0.2s ease-in-out;
    border: solid 1px var(--cool-orange);
    color: #fff;
}

.number-input-container:hover>.number-input,
.number-input-container:focus-within>.number-input {
    color: #fff;
}


.suspense-spinner {
    position: absolute;
    top: 50%;
    left: 35%;
    height: 100px;
    width: 100px;
}

.suspense-spinner:not(h1) {
    margin-top: 50px;
    left: 45%;
}

.suspense-spinner>h1 {
    position: absolute;
    margin-top: 20px;
    margin-left: 115px;
    font-size: 40pt;
    white-space: nowrap;
}

.users-options {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.users-options>button {
    border: solid 1px var(--glow-color);
    border-radius: 50px;
    height: 40px;
    min-width: 150px;
    padding: 0 10px;
    color: var(--main-color);
    transition: 0.05s linear;
}

.users-options>button:hover {
    background-color: var(--glow-color);
}

.users-options+hr {
    padding-bottom: 50px;
}

.user-detail-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    max-width: 1000px;
    width: 40%;
    min-width: 40%;
    padding: 15px;
    border: 1px solid #000;
    margin: 20px;
    box-shadow: 0 2px 5px #000;
    transition: 0.4s ease-in-out;
    box-sizing: border-box;
}

.user-detail-form {
    width: 100%;
    height: 100%;
}

.user-detail-form>hr {
    margin-bottom: 20px;
}

.user-detail-form-field {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: wrap;
    padding: 5px;
    padding-top: 10px;
    cursor: grabbing;
    margin-bottom: 10px;
}

.user-detail-form-field:hover {
    background-color: var(--sidebar-bg);
    border-radius: 10px;
}

.user-detail-form-field>label {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    margin-right: 15px;
    padding-left: 15px;
    min-width: 40%;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.user-detail-form-field>input,
.user-detail-form-field>select,
.detail-text-container {
    text-align: right;
    margin-right: 10px;
    font-size: 18px;
    width: 60%;
    min-width: 180px;
    max-width: 400px;
}

.detail-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail-text-container {
    padding-right: 15px;
    height: 23px;
    white-space: nowrap;
}

.detail-input {
    width: 100%;
    text-align: right;
    height: 43px;
    border: 1px solid var(--main-color);
    border-radius: 50px;
    padding: 0 15px;
    font-size: 18px;
    color: var(--main-color);
    background-color: transparent;
    outline: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-top: -4px;
}

.detail-input:focus {
    border: 1px solid var(--glow-color);
    box-shadow: 0 0 5px var(--glow-color);
    background-color: transparent;
    cursor: text;
    color: var(--main-color);
}

.detail-error {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 200px;
    color: red;
    border-radius: 5px;
    margin-left: calc(40% - 30px);
    margin-top: -10px;
}

.detail-error-center {
    margin-left: 650px;
}

@media screen and (max-width: 800px) {
    .number-input-container {
        margin-bottom: 5px;
    }

    .suspense-spinner {
        top: 80%;
        height: 50px;
        width: 50px;
    }

    .suspense-spinner>h1 {
        margin-top: 10px;
        margin-left: 60px;
        font-size: 20pt;
    }

    .user-detail-wrapper {
        flex-direction: column;
        width: 100%;
    }

    .users-options {
        flex-direction: column;
    }

    .users-options>button {
        margin-bottom: 20px;
    }

    .user-detail-form-field {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .user-detail-form-field>label {
        font-size: 16px;
        width: 100%;
        justify-content: center;
    }

    .user-detail-form-field>input,
    .user-detail-form-field>select,
    .detail-text-container {
        font-size: 16px;
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .detail-text-container {
        padding: 0;
    }

    .detail-error {
        position: relative;
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
    }

    .detail-error-center {
        width: 80%;
    }
}
