.sidebar {
    position: fixed;
    width: 300px;
    background-color: var(--sidebar-bg);
    padding: 10px 0 10px 0;
    color: var(--main-color);
    box-shadow: 2px 2px 10px #000;
    z-index: 1000;
    transition: 0.3s ease-in;
    margin-top: 135px;
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: visible;
}

.sidebar-items {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 100%;
}

.sidebar-item {
    line-height: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    border: solid rgb(0, 0, 0, 0.05) 1px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.sidebar-item-sub {
    padding-left: 35px;
    transition: 0.3s linear;
}

.sidebar-sub-menu {
    overflow: hidden;
    opacity: 1;
    transition: 0.3s linear;
}

.sidebar-sub-toggle {
    position: absolute;
    transition: 0.3s linear;
}

.sidebar-sub-menu-collapse {
    color: transparent;
    visibility: collapse;
    overflow: hidden;
    height: 0;
    transition: 0.3s linear;
    opacity: 0;
}

.sidebar-sub-toggle-button {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    color: var(--main-color);
    transition: all 0.3s ease-in-out;
    padding: 0;
}

.sidebar-sub-toggle>svg {
    margin-right: -190px;
    transition: 0.3s linear;
}

.sidebar-sub-toggle-button:hover,
.sidebar-item:hover {
    background-color: var(--sidebar-hover-bg);
    box-shadow: 0 1px 3px black, 0 0 3px black;
    color: var(--sidebar-glow);
}

.sidebar-icon {
    position: absolute;
    display: flex;
    transform: scale(1.5);
    padding: 0 0px;
    margin-left: 30px;
    margin-top: 20px;
}

.sidebar-link {
    text-decoration: none;
    color: var(--main-color);
}

.sidebar-glow {
    border-radius: 5px;
    float: left;
    background-color: var(--sidebar-bg);
    width: 10px;
    height: 56px;
    transition: all 0.15s linear;
}

.sidebar-item:hover .sidebar-glow {
    box-shadow: 2px 0 5px var(--sidebar-glow), 3px 2px 5px #000;
    background-color: var(--sidebar-glow);
    transition: all 0.2s linear;
}

.sidebar-header {
    height: 170px;
}

.sidebar-user-bg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--main-color-flip);
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}

.sidebar-user-bg:hover {
    background-color: var(--cool-purple);
}

.sidebar-user-img {
    height: 100px;
    width: 100px;
}

.sidebar-user-name {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sidebar-toggle-button {
    border: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 45px;
    top: 70px;
    left: 5px;
    padding: 0;
    background-color: var(--cool-purple);
    cursor: pointer;
    z-index: 1005;
    border-radius: 3px;
    margin-top: 5px;
    box-shadow: 0 1px 5px #000;
    transition: translate 0.3s ease-in-out;
}

.sidebar-toggle-button>svg {
    color: #fff;
    height: 35px;
    width: 35px;
    transition: 0.2s linear;
}

.sidebar-toggle-button:hover svg {
    transform: scale(1.1);
}

.sidebar-collapse {
    background-color: transparent;
    margin-left: -310px;
    visibility: collapse;
    overflow: hidden;
    transition: 0.5s linear;
}

.sidebar-user-details-popup {
    color: #fff;
    position: fixed;
    border-radius: 5px;
    height: 0;
    min-width: 0;
    visibility: collapse;
    opacity: 0;
    margin-left: 110px;
    margin-top: 20px;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 1010;
    transition: 0.3s linear;
    box-shadow: 0 2px 5px #000;
    padding: 10px;
    text-shadow: 0 0 3px #000;
    overflow: hidden;
    white-space: nowrap;
}

.sidebar-user-details-popup>div {
    margin-top: 8px;
}

.sidebar-user-bg:hover .sidebar-user-details-popup,
.sidebar-user-bg:focus .sidebar-user-details-popup {
    visibility: visible;
    opacity: 1;
    min-width: 220px;
    height: 200px;
    transition: 0.3s linear;
}

@media screen and (max-width: 600px) {
    .sidebar-user-details-popup {
        margin-left: -50px;
    }
}

.sidebar-toggle-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 5px;
    border-radius: 5px;
    background-color: #fff;
    transition: all 0.5 ease-in-out;
}

.sidebar-toggle-icon::before,
.sidebar-toggle-icon::after {
    content: '';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    height: 5px;
    width: 40px;
    transition: all 0.5s ease-in-out;
}

.sidebar-toggle-button:hover .sidebar-toggle-icon-hover::before {
    animation: icon-move-up 0.5s ease-in-out;
    translate: 0 10px;
}

.sidebar-toggle-button:hover .sidebar-toggle-icon-hover::after {
    animation: icon-move-down 0.5s ease-in-out;
    translate: 0 -10px;
}

.sidebar-toggle-icon-hover {
    width: 40px;
    height: 5px;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.sidebar-toggle-icon-open {
    width: 0;
    height: 0;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.sidebar-toggle-icon-open::before,
.sidebar-toggle-icon-open::after {
    background-color: var(--bs-danger);
}

.sidebar-toggle-icon-open::before {
    animation: icon-cross-right 0.4s ease-in-out;
    rotate: 45deg;
}

.sidebar-toggle-icon-open::after {
    animation: icon-cross-left 0.4s ease-in-out;
    rotate: -45deg;
}


@keyframes icon-move-up {
    0% {
        translate: 0 0;
    }

    100% {
        translate: 0 10px;
    }
}

@keyframes icon-move-down {
    0% {
        translate: 0 0;
    }

    30% {
        translate: 0 0;
    }

    100% {
        translate: 0 -10px;
    }
}

@keyframes icon-cross-right {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 45deg;
    }
}

@keyframes icon-cross-left {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: -45deg;
    }
}